# Ignore node_modules
node_modules/

# Ignore TypeScript source and config files
.vscode/
src/
test/
tsconfig.json
tsconfig.*.json
**/*.ts
**/*.map

# Ignore local environment and build artifacts
.env
*.log
coverage/

# Ignore Git files
.git
.gitignore
.github/

# (Optional) Ignore lock files (depending on your preferences)
package-lock.json
yarn.lock
pnpm-lock.yaml
